body {
    text-align: center;
}

#keaton {
    height: 300px;
}

ul {
    list-style: none;
}

/* FONT STYLINGS */

    .f16pt {
        font-size: 16pt;
    }

    .bold {
        font-weight: bold;
    }
